{% extends 'generic/_base.html' %}
{% load buttons %}
{% load custom_links %}
{% load helpers %}
{% load perms %}
{% load plugins %}
{% load tabs %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block content %}
<div class="row mb-3">

  <div class="col col-md-12">
    <div class="card">
      <div class="card-body table-responsive">
        <table class="table">
          <tr>
            <th>Attribute</th>
            <th>Value Type</th>
            <th>Value</th>
            <th>Status</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
          {% for row in data %}
            <tr>
              <td>{{ row.attribute }}</td>
              <td>{{ row.valueType }}</td>
              <!-- <td>{{ row.value }}</td> -->
              <td>{% if row.valueType == "bool" %} {% if row.value %} <a class="btn btn-success" role="button">True</a>{% else %} <a class="btn btn-danger" role="button">False</a> {% endif %} {% else %} {{ row.value }} {% endif %}</td>
              <td>{% if row.status %}<a class="btn btn-danger" role="button">Required</a>{% else %} <a class="btn btn-success" role="button">Optional</a> {% endif %}</td>
              <td>{{ row.description }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>
{% if error_help %}
<div class="row mb-3">
  <div class="col col-md-12">
    <div class="card">
      <div class="card-header">
        Possible causes and solutions for errors:
      </div>
      <div class="card-body">
        <dl>
          <dt>Failed to resolve (Errno -2)</dt>
          <dd>The <em>url</em> for the synchroniser/matcher is not correct in the Netbox configuration file.</dd>

          <dt>Failed to establish a new connection (Errno 111)</dt>
          <dd>Netbox could not connect to the synchroniser/matcher.
            Either because the synchroniser/matcher is not running, or because the URL is not correct.
            When running in a container environment (such as Docker) the host <i>localhost</i> refers to
            the pod of Netbox itself and is most likely not correct.</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
