{% extends 'generic/object.html' %}
{% load buttons %}
{% load static %}
{% load helpers %}
{% load plugins %}
{% load i18n %}
{% load perms %}

{% block extra_controls %}
  <div class="controls">
    <div class="control-group">

    </div>
  </div>
{% endblock extra_controls %}

{% block content %}
  <div class="row mb-3">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">CSAF Match</h5>
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">id</th>
              <td>{{ object.id }}</td>
            </tr>
            <tr>
              <th scope="row">Asset</th>
              <td>{% if object.related_asset %}{{ object.related_asset|linkify }}{% else %}-{% endif %}</td>
            </tr>
            <tr>
              <th scope="row">Type</th>
              <td>{{ object.related_asset_type }}</td>
            </tr>
            <tr>
              <th scope="row">Document</th>
              <td>{{ object.csaf_document|linkify }}</td>
            </tr>
            <tr>
              <th scope="row">Score</th>
              <td>{{ object.score|floatformat:0 }}</td>
            </tr>
            <tr>
              <th scope="row">Time</th>
              <td>{{ object.time|placeholder }}</td>
            </tr>
            <tr>
              <th scope="row">Acceptance Status</th>
              <td>{{ object.get_acceptance_status_display }}</td>
            </tr>
            <tr>
              <th scope="row">Remediation Status</th>
              <td>{{ object.get_remediation_status_display }}</td>
            </tr>
            <tr>
              <th scope="row">Description</th>
              <td>{{ object.description }}</td>
            </tr>
          </table>
      </div>
      {% include 'inc/panels/tags.html' %}
    </div>
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">Vulnerabilities</h5>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>CVE</th>
                <th>Title</th>
                <th>CVSS</th>
              </tr>
            </thead>
            <tbody>
              {% for vulnerability in object.related_vulnerabilities %}
                <tr>
                  <td>{{ vulnerability|linkify }}</td>
                  <td>{{ vulnerability.cve|placeholder }}</td>
                  <td>{{ vulnerability.title|placeholder }}</td>
                  <td>{{ vulnerability.cvss_badge }}</td>
                </tr>
              {% empty %}
                <tr>
                  <td colspan="4" class="text-muted">No vulnerabilities found for this match.</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
