{% extends base_template %}
{% load buttons %}
{% load helpers %}
{% load plugins %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block extra_controls %}
  {% if link_name %}
    {% with viewname=object %}
      <a href="{% url 'plugins:csaf:synchronisers' %}?trigger=1&{{ link_name }}={{ object.pk }}" class="btn btn-primary">
        <i class="mdi mdi-plus-thick" aria-hidden="true"></i> {% trans "Trigger Matching Run" %}
      </a>
    {% endwith %}
    {% if perms.csaf.add_csafmatch %}
      {% with viewname=object %}
        <a href="{% url 'plugins:csaf:csafmatch_add' %}?{{ link_name }}={{ object.pk }}&return_url={{ return_url }}" class="btn btn-primary">
          <i class="mdi mdi-plus-thick" aria-hidden="true"></i> {% trans "Add a Match" %}
        </a>
      {% endwith %}
    {% endif %}
  {% endif %}
{% endblock %}

{% block content %}

  {% if base_template != 'generic/object_list.html' %}
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="object-list-tab" data-bs-toggle="tab" data-bs-target="#object-list" type="button" role="tab" aria-controls="edit-form" aria-selected="true">
        {% trans "Results" %}
        <span class="badge text-bg-secondary total-object-count">{% if table.page.paginator.count %}{{ table.page.paginator.count }}{% else %}{{ total_count|default:"0" }}{% endif %}</span>
      </a>
    </li>
    {% if filter_form %}
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="filters-form-tab" data-bs-toggle="tab" data-bs-target="#filters-form" type="button" role="tab" aria-controls="object-list" aria-selected="false">
          {% trans "Filters" %}
          {% if filter_form %}{% badge filter_form.changed_data|length bg_color="primary" %}{% endif %}
        </button>
      </li>
    {% endif %}
  </ul>
  {% endif %}

  <div class="tab-pane show active" id="object-list" role="tabpanel" aria-labelledby="object-list-tab">
    {% if match_tabs %}
      <ul class="nav nav-tabs mb-3">
        {% for tab in match_tabs %}
          <li class="nav-item">
            <a class="nav-link {% if tab.active %}active{% endif %}" href="{% url tab.url %}">{{ tab.label }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if false_positive_count %}
      {% if include_false_positives %}
        <div class="alert alert-warning py-2">
          False positive matches are currently shown.
          <a href="{{ return_url }}include_false_positives=0" class="alert-link">Hide false positives</a>
        </div>
      {% else %}
        <div class="alert alert-info py-2">
          There are {{ false_positive_count }} false positive match(es), currently hidden by default.
          <a href="{{ return_url }}include_false_positives=1" class="alert-link">Show false positives</a>
        </div>
      {% endif %}
    {% endif %}

    <div class="row mb-3">
      {% if statusFilter %}
      <div class="col-auto table-controls noprint">
        <a class="btn {% if acceptance_status.N %}btn-success{% else %}btn-gray{% endif %}" role="button" href="{{ return_url }}statusString={{ statusString }}&toggle=N">New</a>
        <a class="btn {% if acceptance_status.O %}btn-success{% else %}btn-gray{% endif %}" role="button" href="{{ return_url }}statusString={{ statusString }}&toggle=O">Reopened</a>
        {% if statusFilterIncludeConfirmed %}
          <a class="btn {% if acceptance_status.C %}btn-success{% else %}btn-gray{% endif %}" role="button" href="{{ return_url }}statusString={{ statusString }}&toggle=C">Confirmed</a>
        {% endif %}
        <a class="btn {% if acceptance_status.F %}btn-success{% else %}btn-gray{% endif %}" role="button" href="{{ return_url }}statusString={{ statusString }}&toggle=F">False Positive</a>
        &nbsp;&nbsp;
      </div>
      {% endif %}
      <div class="col-auto table-controls noprint">
        <div class="input-group input-group-flat me-2 quicksearch" hx-disinherit="hx-select hx-swap">
          <input type="search" results="5" name="q" id="quicksearch" class="form-control" placeholder="{% trans "Quick search" %}"
              hx-get="{{ request.full_path }}" hx-target="#object_list" hx-trigger="keyup changed delay:500ms, search"/>
          <span class="input-group-text py-1">
            <a href="#" id="quicksearch_clear" class="invisible text-secondary"><i class="mdi mdi-close-circle"></i></a>
          </span>
        </div>
      </div>
    </div>

    <form method="post">
      {% csrf_token %}
      {# "Select all" form #}
        {% if table.paginator.num_pages > 1 %}
          <div id="select-all-box" class="d-none card d-print-none">
            <div class="form col-md-12">
              <div class="card-body d-flex justify-content-between">
                <div class="form-check">
                  <input type="checkbox" id="select-all" name="_all" class="form-check-input" />
                  <label for="select-all" class="form-check-label">
                    {% blocktrans trimmed with count=table.page.paginator.count object_type_plural=table.data.verbose_name_plural %}
                      Select <strong>all <span class="total-object-count">{{ count }}</span> {{ object_type_plural }}</strong> matching query
                    {% endblocktrans %}
                  </label>
                </div>
                <div class="bulk-action-buttons">
                  {% if 'bulk_edit' in actions %}
                    {% bulk_edit_button model query_params=request.GET %}
                  {% endif %}
                  {% if 'bulk_delete' in actions %}
                    {% bulk_delete_button model query_params=request.GET %}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        {% endif %}

      {% if statusFilter %}
        <input type="hidden" name="statusString" value="{{ statusString }}">
      {% endif %}
      <input type="hidden" name="return_url" value="{{ return_url }}statusString={{ statusString }}">
      <div class="col col-md-12">
        <div class="card">
          <div class="htmx-container table-responsive" id="object_list">
            {% render_table table 'inc/table.html' %}
            {% include 'inc/paginator.html' with paginator=table.paginator page=table.page %}
          </div>
        </div>
        {% block bulk_buttons %}
            <div class="dropdown">
              <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="mdi mdi-plus-thick" aria-hidden="true"></i> {% trans "Bulk Set Acceptance Status" %}
              </button>
              <ul class="dropdown-menu">
                {% for entry in enums.acceptance %}
                  <li>
                    <button type="submit" {% formaction %}="{{ request.path }}" class="dropdown-item" name="targetAccStatus" value="{{entry.value}}">
                    {% trans entry.label %}
                    </button>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% if 'bulk_delete' in actions %}
            {% bulk_delete_button model query_params=request.GET %}
          {% endif %}
        {% endblock %}

      </div>
    </form>
  </div>
  {# Filters tab #}
  {% if filter_form %}
    <div class="tab-pane show" id="filters-form" role="tabpanel" aria-labelledby="filters-form-tab">
      {% include 'inc/filter_list.html' %}
    </div>
  {% endif %}
  {# /Filters tab #}

{% endblock %}
