{% extends base_template %}
{% load buttons %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block extra_controls %}
  {% if link_name %}
    {% with viewname=object %}
      <a href="{% url 'plugins:csaf:synchronisers' %}?trigger=1&{{ link_name }}={{ object.pk }}" class="btn btn-primary">
        <i class="mdi mdi-plus-thick" aria-hidden="true"></i> {% trans "Trigger Matching Run" %}
      </a>
    {% endwith %}
    {% if perms.csaf.add_csafmatch %}
      {% with viewname=object %}
        <a href="{% url 'plugins:csaf:csafmatch_add' %}?{{ link_name }}={{ object.pk }}&return_url={{ return_url }}" class="btn btn-primary">
          <i class="mdi mdi-plus-thick" aria-hidden="true"></i> {% trans "Add a Match" %}
        </a>
      {% endwith %}
    {% endif %}
  {% endif %}
{% endblock %}

{% block content %}
  <div class="tab-pane show active" id="object-list" role="tabpanel" aria-labelledby="object-list-tab">

    <div class="row mb-3">
      <div class="col-auto table-controls noprint">
        <a class="btn {% if status.N %}btn-success{% else %}btn-info{% endif %}" role="button" href="{{ return_url }}statusString={{ statusString }}&toggle=N">New</a>
        <a class="btn {% if status.O %}btn-success{% else %}btn-info{% endif %}" role="button" href="{{ return_url }}statusString={{ statusString }}&toggle=O">Reopened</a>
        <a class="btn {% if status.C %}btn-success{% else %}btn-info{% endif %}" role="button" href="{{ return_url }}statusString={{ statusString }}&toggle=C">Confirmed</a>
        <a class="btn {% if status.R %}btn-success{% else %}btn-info{% endif %}" role="button" href="{{ return_url }}statusString={{ statusString }}&toggle=R">Resolved</a>
        <a class="btn {% if status.F %}btn-success{% else %}btn-info{% endif %}" role="button" href="{{ return_url }}statusString={{ statusString }}&toggle=F">False Positive</a>
        &nbsp;&nbsp;
      </div>
      <div class="col-auto table-controls noprint">
        <div class="input-group input-group-flat me-2 quicksearch" hx-disinherit="hx-select hx-swap">
          <input type="search" results="5" name="q" id="quicksearch" class="form-control" placeholder="{% trans "Quick search" %}"
              hx-get="{{ request.full_path }}" hx-target="#object_list" hx-trigger="keyup changed delay:500ms, search"/>
          <span class="input-group-text py-1">
            <a href="#" id="quicksearch_clear" class="invisible text-secondary"><i class="mdi mdi-close-circle"></i></a>
          </span>
        </div>
      </div>
    </div>

    <form method="post">
      {% csrf_token %}
      <input type="hidden" name="statusString" value="{{ statusString }}">
      <input type="hidden" name="return_url" value="{{ return_url }}">
      <div class="col col-md-12">
        <div class="card">
          <div class="htmx-container table-responsive" id="object_list">
            {% render_table table 'inc/table.html' %}
            {% include 'inc/paginator.html' with paginator=table.paginator page=table.page %}
          </div>
        </div>
        {% block bulk_buttons %}
            <div class="dropdown">
              <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="mdi mdi-plus-thick" aria-hidden="true"></i> {% trans "Bulk Set Status" %}
              </button>
              <ul class="dropdown-menu">
                  <li>
                    <button type="submit" {% formaction %}="{{ request.path }}" class="dropdown-item" name="targetStatus" value="N">
                    {% trans "New" %}
                    </button>
                  </li>
                  <li>
                    <button type="submit" {% formaction %}="{{ request.path }}" class="dropdown-item" name="targetStatus" value="O">
                      {% trans "Reopened" %}
                    </button>
                  </li>
                  <li>
                    <button type="submit" {% formaction %}="{{ request.path }}" class="dropdown-item" name="targetStatus" value="C">
                      {% trans "Confirmed" %}
                    </button>
                  </li>
                  <li>
                    <button type="submit" {% formaction %}="{{ request.path }}" class="dropdown-item" name="targetStatus" value="R">
                      {% trans "Resolved" %}
                    </button>
                  </li>
                  <li>
                    <button type="submit" {% formaction %}="{{ request.path }}" class="dropdown-item" name="targetStatus" value="F">
                      {% trans "False Positive" %}
                    </button>
                  </li>
              </ul>
            </div>
          {% if 'bulk_delete' in actions %}
            {% bulk_delete_button model query_params=request.GET %}
          {% endif %}
        {% endblock %}

      </div>
    </form>
  </div>
  {# Filters tab #}
  {% if filter_form %}
    <div class="tab-pane show" id="filters-form" role="tabpanel" aria-labelledby="filters-form-tab">
      {% include 'inc/filter_list.html' %}
    </div>
  {% endif %}
  {# /Filters tab #}

{% endblock %}
